.theme-slider-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.theme-label {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  font-style: italic;
  color: var(--text-primary);
}

.theme-toggle {
  position: relative;
  width: 50px;
  height: 20px;
  cursor: pointer;
  padding: 2px;
  border-radius: 50px;
  border: 1px solid var(--text-primary);
  display: inline-block;
}

.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.4s;
  border-radius: 30px;
  width: 100%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--text-primary);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: transparent;
}

input:checked + .slider:before {
  transform: translateX(30px);
}
