.experience {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 20px 0 60px 0;
}

.resume {
  color: var(--text-primary);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  align-self: flex-end;
}
